html,
body {
  overflow-x: hidden;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/open-sans-v29-vietnamese-regular.eot");
  src: url("../fonts/open-sans-v29-vietnamese-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v29-vietnamese-regular.woff") format("woff"), url("../fonts/open-sans-v29-vietnamese-regular.ttf") format("truetype"), url("../fonts/open-sans-v29-vietnamese-regular.svg#OpenSans") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/open-sans-v29-vietnamese-500.eot");
  src: url("../fonts/open-sans-v29-vietnamese-500.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v29-vietnamese-500.woff") format("woff"), url("../fonts/open-sans-v29-vietnamese-500.ttf") format("truetype"), url("../fonts/open-sans-v29-vietnamese-500.svg#OpenSans") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/open-sans-v29-vietnamese-600.eot");
  src: url("../fonts/open-sans-v29-vietnamese-600.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v29-vietnamese-600.woff") format("woff"), url("../fonts/open-sans-v29-vietnamese-600.ttf") format("truetype"), url("../fonts/open-sans-v29-vietnamese-600.svg#OpenSans") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/open-sans-v29-vietnamese-700.eot");
  src: url("../fonts/open-sans-v29-vietnamese-700.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v29-vietnamese-700.woff") format("woff"), url("../fonts/open-sans-v29-vietnamese-700.ttf") format("truetype"), url("../fonts/open-sans-v29-vietnamese-700.svg#OpenSans") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/open-sans-v29-vietnamese-italic.eot");
  src: url("../fonts/open-sans-v29-vietnamese-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v29-vietnamese-italic.woff") format("woff"), url("../fonts/open-sans-v29-vietnamese-italic.ttf") format("truetype"), url("../fonts/open-sans-v29-vietnamese-italic.svg#OpenSans") format("svg");
  font-weight: 400;
  font-style: italic;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 1.9rem;
  font-family: "OpenSans", sans-serif;
  margin: 0;
  padding: 0 !important;
  color: #707070;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

strong {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #707070;
}

.owl-dot:focus {
  outline: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
body,
.wrapper {
  position: relative;
}

.row {
  --bs-gutter-x: 3rem;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.section-py {
  padding: 8rem 0;
}
@media (max-width: 991.98px) {
  .section-py {
    padding: 5rem 0;
  }
}

a {
  text-decoration: none;
}

a:hover {
  color: #f59c27;
}

.owl-next:focus,
.owl-prev:focus {
  outline: none;
}

.owl-theme .owl-nav {
  margin-top: 0;
}

.owl-carousel {
  padding-left: 0;
  padding-right: 0;
}

.btn {
  margin: 3rem auto 0;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 600;
  padding: 1.1rem 2rem;
  border-radius: 0.6rem;
  transition: all 0.3s ease;
  display: block;
  width: fit-content;
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .btn {
    margin: 2rem auto 0;
  }
}
.btn:hover {
  opacity: 0.8;
}
.btn.btn-primary {
  background-color: #f59c27;
  border-color: #f59c27;
}

.menu-bars-close {
  transition: 0.5s;
}
.menu-bars-close--toggle {
  width: 100vw;
  height: 100vh;
  z-index: 99;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  display: block;
  top: 0;
  left: 0;
}

.breadcrumb {
  background: #f5f5f5;
  height: 4.9rem;
  padding: 1.5rem 0;
  margin-bottom: 8rem;
}
@media (max-width: 991.98px) {
  .breadcrumb {
    margin-bottom: 4rem;
  }
}
@media (max-width: 767.98px) {
  .breadcrumb {
    margin-bottom: 1.5rem;
    height: auto;
  }
}
.breadcrumb-list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.breadcrumb-item a {
  color: rgba(0, 0, 0, 0.4509803922);
  font-size: 1.4rem;
  line-height: 2.2rem;
}
.breadcrumb-item a:hover {
  color: #000000;
}
.breadcrumb-item.active {
  color: #000000;
  font-size: 1.4rem;
  line-height: 2.2rem;
}
.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.8rem;
}
.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 0.8rem;
  color: rgba(0, 0, 0, 0.4509803922);
}

.purchase-step {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.purchase-step::before {
  content: "";
  width: calc(100% - 3rem);
  height: 1px;
  position: absolute;
  bottom: 4px;
  left: 1.5rem;
  background: #707070;
}
.purchase-step::after {
  content: "";
  width: calc(25% - 2rem);
  height: 3px;
  position: absolute;
  bottom: 4px;
  left: 1.5rem;
  background: #f59c27;
}
.purchase-step-item a {
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #707070;
  padding-bottom: 2rem;
  display: block;
  position: relative;
}
.purchase-step-item a::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #707070;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.purchase-step-item.active a {
  color: #d29e10;
  font-weight: 600;
}
.purchase-step-item.active a::before {
  background: #d29e10;
}

.modal-open .modal {
  padding: 0 !important;
  background: rgba(43, 43, 43, 0.7);
}
.modal-open .modal .modal-body {
  padding: 0;
}
.modal-open .modal .modal-dialog {
  top: 50%;
  transform: translateY(-50%);
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
}
.header-logo {
  width: 17rem;
  height: 4rem;
  margin: 3rem auto;
  display: block;
}
.header-list {
  display: flex;
  margin: 3rem auto;
  justify-content: center;
}
.header-item {
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.9rem;
  font-weight: 600;
  margin-left: 3rem;
  cursor: pointer;
}
.header-item:active {
  border-bottom: 2px solid #f2b94c;
  color: #f2b94c;
}
.header-item--seach {
  width: 1.8rem;
  margin-left: 3rem;
  height: 1.8rem;
}

.nav {
  width: 100%;
  height: auto;
}
.nav-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.nav-order--btn {
  width: 9rem;
  height: 5.2rem;
  border-radius: 0.6rem;
  background-color: #be1522;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  line-height: 2.2rem;
  outline: none;
  border: none;
  position: fixed;
  right: 0;
  top: 30.2rem;
}

.why-choose {
  background-color: #f9f9f9;
  padding: 8rem;
}

.food-home {
  padding-top: 13rem;
  padding-bottom: 13rem;
  position: relative;
  background: transparent url(../images/pexels-jer-chung-2059151@2x.png) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
@media (max-width: 991.98px) {
  .food-home {
    padding-top: 2.5rem;
    padding-bottom: 4rem;
  }
}
@media (max-width: 991.98px) {
  .food-home .row {
    flex-direction: column-reverse;
  }
}
.food-home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
.food-home .food-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}
@media (max-width: 767.98px) {
  .food-home .food-image {
    grid-gap: 1rem;
  }
}
.food-home--right {
  display: block;
  position: relative;
}
.food-home .food-list {
  z-index: 3;
  position: absolute;
  width: 67rem;
  right: 1.5rem;
  top: -5rem;
  background-color: #fff;
  padding: 3rem;
  border-radius: 1rem;
}
@media (max-width: 1199.98px) {
  .food-home .food-list {
    width: 55rem;
  }
}
@media (max-width: 991.98px) {
  .food-home .food-list {
    width: 100%;
    position: unset;
    margin-bottom: 1rem;
  }
}
@media (max-width: 767.98px) {
  .food-home .food-list {
    padding: 2rem 1.4rem;
  }
}
.food-home .food-list-heading {
  font-size: 3rem;
  line-height: 4.1rem;
  font-weight: 600;
  color: #224265;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.8rem;
  margin-bottom: 3rem;
  text-align: center;
  margin-bottom: 3rem;
}
.food-home .food-list-heading::after {
  content: "";
  width: 10rem;
  height: 0.2rem;
  background: #f59c27;
  position: absolute;
  left: 0;
  bottom: 0;
}
@media (max-width: 767.98px) {
  .food-home .food-list-heading {
    margin-bottom: 2rem;
  }
}
.food-home .food-list-heading::after {
  left: 50%;
  transform: translateX(-50%);
}
.food-home .food-list .box-food__name {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #000;
  position: relative;
}
.food-home .food-list .box-food__name::after {
  content: ". . . . . . . . . . . . . . . . . . . . . . .  . . . . . . . . . . . .";
  overflow: hidden;
  padding: 0 2rem;
  display: flex;
  flex-wrap: nowrap;
  width: calc(100% - 2rem);
}
.food-home .food-list .box-food__price {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #be1522;
}
.food-home .food-list .box-food__desc {
  font: italic;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #484848;
}

.chef {
  padding: 8rem 0;
  background: url() no-repeat center;
}
.chef-img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.chef-content {
  padding-left: 3rem;
}
.chef-content--title {
  font-size: 3rem;
  line-height: 4.1rem;
  font-weight: 600;
  position: relative;
  margin-bottom: 1rem;
  color: #000;
  text-align: center;
}
.chef-content--title::after {
  content: "";
  width: 17rem;
  height: 0;
  position: absolute;
  border-bottom: 3px solid #F2B94C;
}
.chef-content--title::after {
  bottom: -1rem;
  left: 0;
}
.chef-content-text {
  align-items: left;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #484848;
  padding-top: 3rem;
}

.choose {
  background-color: #fff;
  padding: 8rem 0;
}
.choose-title {
  font-size: 3rem;
  line-height: 4.1rem;
  font-weight: 600;
  position: relative;
  margin-bottom: 1rem;
  color: #000;
  text-align: center;
}
.choose-title::after {
  content: "";
  width: 17rem;
  height: 0;
  position: absolute;
  border-bottom: 3px solid #F2B94C;
}
.choose-title::after {
  bottom: -1rem;
  transform: translateX(50%);
  right: 50%;
}
.choose-list {
  padding: 3rem 0;
  display: flex;
  justify-content: space-around;
}
.choose-item {
  padding: 1rem;
  width: 100%;
  height: auto;
  border-radius: 50%;
  background-color: #f2b94c;
}
.choose-item-img {
  width: 7rem;
  height: 7rem;
}
.choose-item-text {
  margin: 2rem 3rem;
}

.box2-list {
  padding-bottom: 8rem;
}

.slider {
  padding: 8rem 0;
  background: #efefef no-repeat center;
  background-size: cover;
}
.slider-title {
  font-size: 3rem;
  line-height: 4.1rem;
  font-weight: 600;
  position: relative;
  margin-bottom: 1rem;
  color: #000;
  text-align: center;
}
.slider-title::after {
  content: "";
  width: 17rem;
  height: 0;
  position: absolute;
  border-bottom: 3px solid #F2B94C;
}
.slider-title::after {
  bottom: -1rem;
  transform: translateX(50%);
  right: 50%;
}
.slider-img {
  margin: 3rem auto 3rem;
  height: 8rem;
  width: 8rem;
  display: block;
}
.slider-text {
  align-items: left;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #484848;
  text-align: center;
}
.slider-footer--img {
  width: 3rem;
  height: 3rem;
  margin: 2rem auto 5px;
  display: block;
}
.slider-footer--text {
  color: #484848;
  text-align: center;
}

.login {
  padding: 8rem 0;
  background: #fff no-repeat center;
}
.login-right--title {
  font-size: 3rem;
  line-height: 4.1rem;
  font-weight: 600;
  position: relative;
  margin-bottom: 1rem;
  color: #000;
  margin-bottom: 6.5rem;
}
.login-right--title::after {
  content: "";
  width: 17rem;
  height: 0;
  position: absolute;
  border-bottom: 3px solid #F2B94C;
}
.login-right--title::after {
  left: 0;
  bottom: -1rem;
}
.login-right--btn {
  background-color: #f2b94c;
  border-radius: 0.6rem;
  height: 4.4rem;
  width: 14.4rem;
  text-align: center;
  color: #000;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.login .login-item {
  margin-top: 4.5rem;
  outline: none;
  border: none;
}
.login .login-item--bottom {
  margin-top: 3rem;
  border: none;
}
.login-left {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 1rem;
  margin: auto 3rem;
}

.news {
  border-top: 3px solid #f5f5f5;
  padding: 8rem 0;
}
.news-title {
  font-size: 3rem;
  line-height: 4.1rem;
  font-weight: 600;
  position: relative;
  margin-bottom: 1rem;
  color: #000;
  text-align: center;
}
.news-title::after {
  content: "";
  width: 17rem;
  height: 0;
  position: absolute;
  border-bottom: 3px solid #F2B94C;
}
.news-title::after {
  bottom: -1rem;
  right: 50%;
  transform: translateX(50%);
}
.news-list {
  margin: 4rem auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 3rem;
}
.news-item--date {
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #415e6e;
}
.news-item--title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: #000;
  margin: 15px 10px;
}
.news-item--text {
  color: #484848;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin: 15px 10px;
}
.news-img {
  width: 100%;
  display: block;
  object-fit: cover;
}
.news .new__date {
  display: flex;
  margin: 15px 13px auto 12px;
}
.news .news-item {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 1rem;
}
.news .news-item--date_img {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 5px;
}

.footer {
  padding: 3rem 0;
  background: #23282f 0% 0% no-repeat padding-box;
}
.footer .item1-logo {
  width: 17rem;
  height: 4rem;
  margin-bottom: 3rem;
}
.footer .item1-text {
  color: #fff;
  font-size: 1.2rem;
  line-height: 2.2rem;
  margin: 1rem 1rem;
}
.footer-item2--title {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #f2b94c;
  text-transform: uppercase;
}
.footer .item2-link {
  margin: 0 1rem 3rem 0;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  line-height: 2.2rem;
}
.footer .footer-item2--link {
  color: #FFF;
  font-size: 1.2rem;
  line-height: 2.2rem;
  margin-top: 2rem;
}
.footer .footer-item--3 {
  width: 100%;
  background: url(.././images/shawnanggg-nmpW_WwwVSc-unsplash@2x.png) no-repeat center;
  background-size: cover;
  margin-left: 5rem;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}
.footer .footer-item--3::after {
  content: "";
  inset: 0;
  position: absolute;
  background-color: transparent linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(70, 70, 70, 0.5647058824) 100%, rgba(255, 255, 255, 0.4784313725) 100%);
  z-index: 1;
}
.footer .item3-title {
  margin-top: 1rem;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
.footer .item3-img--left {
  width: 98px;
  display: block;
  object-fit: cover;
  margin: 1rem 1rem;
}
.footer .item3-btn {
  bottom: 1rem;
  border-radius: 4px;
  background: #E8E5E5 no-repeat padding-box;
  outline: none;
  border: none;
}

.footer-bottom {
  margin-top: 3rem;
  border-top: 3px solid #FFF;
  padding: 2rem 0;
}
.footer-bottom--bottom {
  display: flex;
  justify-content: space-between;
}
.footer-bottom--left_title {
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: #B7B7B7;
}
.footer-bottom--left_link {
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: #FFFFFF;
  margin: 1.5rem 1.5rem;
}
.footer-bottom--right {
  display: flex;
}
.footer-bottom--right__right {
  margin-left: 5rem;
}

.nav_menu {
  background: url(../images/sam-moqadam-yxZSAjyToP4-unsplash.png) no-repeat center;
  background-size: cover;
}

.menu-body--item {
  background: transparent url(../images/sam-moqadam-yxZSAjyToP4-unsplash@2x.png);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8rem 0;
  width: 50%;
  flex-direction: column;
  display: flex;
}
.menu-body--border {
  background: transparent url(../images/Union\ 2@2x.png) no-repeat center;
  background-size: contain;
}
.menu-body--hotline {
  margin-top: 3rem;
}
.menu-body--hotline_text {
  color: #fff;
  font-size: 2.4rem;
  line-height: 3.3rem;
  margin-left: 6px;
}
.menu-body--hotline_number {
  font-size: 2.4rem;
  line-height: 3.3rem;
  font-weight: 600;
  color: #F2B94C;
}
.menu-body__title {
  font-size: 3rem;
  line-height: 4.1rem;
  font-weight: 600;
  position: relative;
  margin-bottom: 1rem;
  color: #000;
  text-align: center;
  justify-content: center;
  display: flex;
  margin: auto auto;
}
.menu-body__title::after {
  content: "";
  width: 17rem;
  height: 0;
  position: absolute;
  border-bottom: 3px solid #F2B94C;
}
.menu-body__title::after {
  bottom: -1rem;
  transform: translateX(50%);
  right: 50%;
}
.menu-body--text {
  align-items: left;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: #484848;
  padding: 3rem 0;
}
.menu-body--description {
  margin: auto auto;
  text-align: center;
  justify-content: center;
  background-color: #F9F9F9;
  height: 100%;
}
.menu-body--btn {
  padding: 11px 20px;
  background-color: #f2b94c;
  border-radius: 6px;
  color: #000;
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 600;
  outline: none;
  border: none;
}

/*# sourceMappingURL=style.css.map */
