.app{
    width: 100%;
    background-color: #f5f5f5;
}


.header{
    height: 34px;
    background-image: linear-gradient(0,#fd5e32,#f6422d);
    margin-top: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

.header__header{
    height: 34px;
    background-image: linear-gradient(0,#fd5e32,#f6422d);
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    overflow: hidden;
    flex-wrap: nowrap;
}

.header__navbar-list{
    list-style: none;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    width: auto;
    height: auto;
}

.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 2px solid #FFF;
    height: 12px;
    top: -1px;
    margin-top: 5.5px;
    left:-10px;
}

.header__navbar-item:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-link{
    color: var(--white-color);
    text-decoration:none ;
}

.header__navbar-link--a{
    color:#fff;
    text-decoration: none;
}

.header__navbar-link--b{
    color: #fff;
    text-decoration: none;
}
.header__navbar-link--b:hover{
    color: rgba(255, 255, 255, 0.7); 
}

.header__navbar-link--a:hover{
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-icon{
    font-size: 1.8rem;
}

.header__navbar-icon--tv{
   top:2px
}

.header__navbar-icon--tvv{
    margin-bottom: -2px;
    margin-left: 3px;
}


.header__navbar-item--li--none{
    cursor: text;
    color: var(--white-color);
}

.header__navbar-item--hasqr:hover .header__qr{
    display:block;
}

/* header qr code */
.header__qr{
    width:190px;
    margin-top: 15px;
    background-color: var(--white-color);
    position: absolute;
    border-radius: 2px;
    padding: 8px;
    display: none;
    animation: fadeIn ease-in 0.5s;
    
}

.header__qr::after{
    content: "";
    top: -20px;
    left: -15px;
    width: 90px;
    height: 45px;
    background-color:transparent;
    position: absolute;

}

.header__qr-img{
    width: 100%;
}

.header__qr-app{
    display: flex;
    flex-wrap: wrap;
    margin:-10px 10px;
    justify-content: space-between;
}

.header__qr-dowload-img{
    height: 15px;
    margin-top: 5px;
}

/* animation */
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

/* header notification */

.header__notify{
    margin: 12px 0px ;
    position: absolute;
    top:110%;
    width: 360px;
    right: 0;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    cursor: default;
    transform-origin: calc(100%-20px) top;
    animation: headerNotify ease-in 0.25s ;
    display: none;
}

.header__notify::before{
    content: "";
    border: 20px solid ;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 10px;
    top: -35px;
}

.header__notify::after{
    content: "";
    display: block;
    position:absolute;
    top:-20px;
    right:0 ;
    width: 90px;
    height: 45px;
    background-color:transparent;
}

@keyframes headerNotify {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
    
}
.header__navbar-item--has-notify:hover .header__notify{
    display: block;
    color: rgba(255, 255, 255, 0.7);
}

.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-h3{
    color: #888;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0 0 0 12px;
    line-height: 40px;
    cursor: text;
    user-select: none;
}

.header__notify-list{
    padding-left: 0;
}

.header__notify-item{
    background-color: rgb(229, 208, 208);
    display: flex;
}

.header__notify-item--seen{
    background-color: rbga(238,75,43,0.08);
}

.header__notify-item:hover{
    background-color: #f7f7f7;
    z-index: 10;
}

.header__navbar-item--has-language:hover .navbar__language{
    display: block;
}

@keyframes navbar__Language{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.navbar__language{
    width: 200px;
    right: 15%;
    height: 90px;
    margin-top: 20px;
    background-color:rgb(252, 252, 253);
    display: none;
    position: absolute;
    animation: navbar__Language ease-in 0.175s;
}

.navbar__language-text{
    font-size: 1.6rem;
    color: #333;
    align-items: center;
    justify-content: space-between;
    margin:10px 0 0 20px;
}

.navbar__language::before{
    content: "";
    border: 20px solid ;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 10px;
    top: -35px;
}

.navbar__language::after{
    content: "";
    display: block;
    position:absolute;
    top:-20px;
    right:0 ;
    width: 90px;
    height: 45px;
    background-color:transparent;
}


.navbar__language-text:hover{
    color:#ec593c ;
}

.header__notify-link{
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;

}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    text-decoration: none;
    line-height: 1.8rem;
}

.header__notifty-info{
    margin-left: 12px;
    font-size: 1.2rem;
    line-height:1.6rem;
    text-decoration: none;
}

.header__notify-descriotion{
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
}

.header__notify-footer{
    text-align: center;
    height: 30px;
    margin-top: 10px;
    line-height: 20px;
    font-weight: 600;
}

.header__notify-footer--btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 4px 16px;
}

/* header seach */

.header-with-seach{
    display: flex;
    align-items: center;
    height: var(--header-seach-height);
}

.header__logo{
    width: 150px;
    height: 65px;
    margin:4px 0px 15px 50px;   
}

.header__seaching{
    flex: 1;
}

.header__seach{
    display: flex;
    margin-left:25px;
    margin-bottom: 25px;
    flex:1;
    border-radius: 2px;
    height: 40px;
    background-color: var(--white-color);
}

.header__seach-input{
    font-size: 1.6rem;
    color:#9b9b9b;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 12px;
    border-radius:2px ;
}

.header__cart{
    width: 150px;
    text-align:center;
    position: relative;
}

.header__cart-icon{
    font-size: 3rem;
    color: var(--white-color);
}

.header__seach-btn{
    border: none;
    width: 66px;
    height: 35px;
    background-color: var(--primary-color);
    border-radius: 2px;
    display: flex;
    justify-items: center;
    margin: 2px 3px;
}

.header__seach-btn:hover{
    background-color: #ec593c;
    cursor: pointer;
}

.header__seach-btn--icon{
    margin: 10px 20px;
    width: 14px;
    height: 14px;

}

.seach{
    width: 100%;
    background-color: var(--white-color);
    height: 100px;
}

.page__seach{
    width: 1200px ;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 0;
    padding-top: 20px;
}

.seach-link{
    display: flex;
    text-decoration: none;
}

.seach-img{
    width: 130px;
    height: 46px;
}

.seach__logo-text{
    font-size: 2rem;
    color: #ec593c;
    padding: 14px;
    font-weight: 500;
    position: relative;
}

.seach__logo-text::before{
    content: "";
    height: 30px;
    top: 15px;
    left: 8px;
    width: 1px;
    background-color: #100b0a;
    position: absolute;
}

.seach-seach{
    border-radius: 2px;
    margin-top: 10px;
    width: 600px;
    height: 40px;
    border: #ec593c 2px solid;
    display: flex;
   
}

.seach-input{
    width: 520px;
    height: 36px;
    border-radius: 2px;
    padding-left: 8px;
    font-size: 1.4rem;
    border: none;
    outline: none;
}

.seach-btn{
    width: 80px;
    height: 37px;
    border-radius: 1px;
    outline: none;
    top: 0;
    background-color: #ec593c;
    border: none;
}

/* .header__product{
    height: 28px;
    width: auto;
}

.header__product-list{
    display: inline-block;
    justify-content: flex-start;
    position:absolute;
    margin: 0;
    padding: 12px;
}

.header__product-link{
    text-decoration: none;
    margin-bottom: 10px;
}

.header__product-item{
    display: inline-block;
    color: blue;
    position: relative;
    font-size: 1.2rem;
    margin: 5px 0px 5px 13px;
    top: 0;
} */

.header__cart:hover .cart__container{
    display: block;
}

/* cart */
.cart__container{
    width: 420px;
    height: 300px;
    position: absolute;
    background-color: rgb(239, 224, 224);
    display: none;
    left: -204%;
    margin-top: 24px;
    animation: cart__animation ease-in 0.175s;
}

.cart__container::before{
    content: "";
    border: 12px solid;
    border-color:transparent transparent var(--white-color) transparent ;
    position: absolute;
    top: -24px;
    right: 6%;
}

@keyframes cart__animation {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
    
}

.cart__container::after{
    width: 90px;
    height: 90px;
    background-color: transparent;
    position: absolute;
}

.header__cart-icon:hover .cart__container{
    display: block;
}

.cart__container-img{
    width: 420px;
    height: 300px;
    position: relative;
}

.cart__container-text{
    width: 200px;
    text-shadow: 5px;
    font-weight: 400;
    font-size: 1.4rem;
    position: absolute;
    top: 50%;
    color: #f7f7f7;
    left: 25%;
}
/* carrt */

.cart{
    display: flex;
    height: 21rem;
    background-color: #f5f5f5;
    width: 1200px;
    margin: 40px auto 0;
    justify-content: center;
}

.cart-img{
    width: 6.75rem;
    height: 6.125rem;
}

.cart-img--img{
    margin: 20px;
    width: 108px;
    height: 96px;
}

.cart-text{
    width: 320px;
    margin-left: -40px;
    margin-top: 10px;
    color: #9b9b9b;
    font-weight: 700;
    font-size: 1.4rem;
}

.cart-link{
    text-decoration: none;
}

.cart-btn{
    width: 150px;
    height:40px;
    margin-top: 40px;
    color:var(--white-color);
    font-weight: 600;
    margin-left: -20px;
    border: none;
    outline: none;
    border-radius: 2px;
    background-color: #fd5e32;
    font-size: 1.6rem;
}

.cart-btn:hover{
    background-color: #ec593c;
}


/* page2 */

.page2{
    width: 1200px;
    margin: 100px auto 0;
}

.page2-header{
    padding-left: 10px;
    height: 40px;
    font-size: 1.6rem;
    color: #756F6E;
}

.recommend{
    width: 100%;
    background-color: #f5f5f5;
    padding-top: 40px;
    height: 2600px;
    position: relative;
}

.recommend__header{
    width: 1200px;
    margin: 0 auto;
    height: 60px;
    background-color: #fff;
   
}

.recommend__title{
    width: 100%;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    padding-top: 14px;
    position: sticky;
    top: var(--header-height);
    font-size: 1.8rem;
    color: #fd5e32;
    border-bottom: 3px solid red ;
}

.recommend__body{
    width: 1200px;
    margin: 10px auto;
    background-color: #f5f5f5;
}

.recommend__item-link--product{
    text-decoration: none;
}

.recommend__body-row{
    margin-top: 10px;
}

.recommend__item{
    overflow: hidden;
    position: relative;
    border-radius: .5px;
    padding: 2px 2px;
    cursor: pointer;
}

.recommend__item>img{
    width: 100%;
    height: 100%;
}

.recommend__item-bottom{
    background-color: #fff;
}
.recommend__item-salee{
    width: 50px;
    margin-left: 4px;
    height: 15px;
    margin-bottom: 8px;
    display: flex;
    background-color: yellowgreen;
    color: var(--white-color);
}

.recommend-price-logo{
    color: #f6422d;
    margin-left: 3px;
}

.recommend__item-bgr{
    position: absolute;
    top: 0;
    width: 100%;
    height:188px ;
}

.recommend__item-bottom{
    height: 92px;
    width: 188px;
}

.recommend__item-text{
    font-size: 1.2rem;
    color: #282323;
    padding-left: 5px;
    height: 42px;
}

.recommend-flash--price{
    font-size: 1.6rem;
    color: #ec593c;
}

.recommend__item-price{
    margin-left: 8px;
    display: flex;
    justify-content: space-between;
}
.recommend__item-sell{
    padding-top: 7px;
    color: #756F6E;
    padding-right: 8px;
}

.recommend__item-img{
    width: 188px;
    height: 188px;
}

.recommend__body-row2{
    padding-top: 10px;
}

.recommend__footer{
    width: 400px;
    background-color: var(--white-color);
    height: 40px;
    font-size: 1.6rem;
    margin: 40px auto 0;
    text-align: center;
    color: #f6422d;
}

.recommend__btn{
    padding-top: 14px;
    text-decoration: none;
}

/* just-seen */
.justseen{
    width: 1200px;
    margin: 10px auto 0;
}

.just__header{
    height: 40px;
    padding-left: 10px;
    font-size: 1.6rem;
    color: #756F6E;
    padding-top: 20px;
    margin: 0 auto 0;
}

.just-body{
    width: 100%;
    margin-top: 10px;
    background-color: #FFF;
}

.just-list{
    width: 1200px;
    height: 150px;
    padding: 20px;
}

.just-item>img{
    width: 100%;
    height: 100%;
}

.just-img{
    width: 80px;
    height: 80px;
}

.just-link{
    text-decoration: none;
}

.just-bottom{
    padding: 15px 0 0 20px;
    font-size: 1.3rem;
    color: #ec593c;
}

.footer{
    width: 100%;
    border-top: 2px solid red;
}

.footer__header{
    width: 1200px;
    margin: 60px auto 40px;
    border-bottom: 1px solid #f5f5f5;
}

.footer__header-title{
    font-size: 1.5rem;
}

.footer__header-title-next{
    font-size: 1.5rem;
}

.footer__header-text{
    font-size: 1.3rem;
}

.footer__header-link{
    text-decoration: none;
    display: flex;
    font-size: 1.6rem;
    color: #ec593c;
}

.footer__header-link-text{
    font-size: 1.6rem;
    color: #ec593c;
}

.footer__header-link--logo{
    width: 13px;
    height: 13px;
    margin:7px 0 0 8px;
}

.footer__body{
    width: 1200px;
    margin: 0 auto;
}

.footer__body-title{
    font-size: 1.6rem;
}

.footer__body-link{
    text-decoration: none;
}

.footer__body-content-title{
    color: #887070;
    font-size: 1.4rem;
}

.footer__body-content-text{
    color: #b6a3a3;
    font-size: 1.2rem;
}

.footer__body-content-text:hover{
    color: #ec593c;
}

.footer__footer{
    margin-top: 40px;
    border-top: 3px solid #888;
    padding-top: 40px;
    background-color: #f5f5f5;
    height: 250px;
}

.footer__footer-list{
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.footer__footer-item{
    list-style: none;
    color: #9b9b9b;
}

.footer__footer-link{
    text-decoration: none;
    color: #9b9b9b;
    font-size: 1.5rem;    
}

.footer__footer-link:hover{
    color: #9b9b9b;
}

.footer__footer-next{
    margin-top: 20px;
    text-align: center;
    font-size: 1.3rem;
    color: #9b9b9b;
}

.footer__footer-end{
    margin: 20px auto 0;
    text-align: center;
}

.footer__footer-end--text{
    margin: 0 60px;
    font-size: 1.3rem;
}
