body,
.wrapper {
  position: relative;
}
.row {
  --bs-gutter-x: 3rem;
}
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.section-py {
  padding: 8rem 0;
  @include media-breakpoint-down(md) {
    padding: 5rem 0;
  }
}
a {
  text-decoration: none;
}
a:hover {
  color: $primary-color;
}

.owl-next:focus,
.owl-prev:focus {
  outline: none;
}
.owl-theme .owl-nav {
  margin-top: 0;
}
.owl-carousel {
  padding-left: 0;
  padding-right: 0;
}
.btn {
  margin: 3rem auto 0;
  @include font(1.6, 2.2, 600);
  padding: 1.1rem 2rem;
  border-radius: 0.6rem;
  transition: all 0.3s ease;
  display: block;
  width: fit-content;
  cursor: pointer;
  @include media-breakpoint-down(sm) {
    margin: 2rem auto 0;
  }
  &:hover {
    opacity: 0.8;
  }
  &.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
  }
}

.menu-bars-close {
  transition: 0.5s;
  &--toggle {
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    display: block;
    top: 0;
    left: 0;
  }
}
.breadcrumb {
  background: #f5f5f5;
  height: 4.9rem;
  padding: 1.5rem 0;
  margin-bottom: 8rem;
  @include media-breakpoint-down(md) {
    margin-bottom: 4rem;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 1.5rem;
    height: auto;
  }
  &-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  &-item {
    a {
      color: #00000073;
      @include font-size(1.4, 2.2);
      &:hover {
        color: #000000;
      }
    }
    &.active {
      color: #000000;
      @include font-size(1.4, 2.2);
    }
    & + .breadcrumb-item {
      padding-left: 0.8rem;
      &::before {
        padding-right: 0.8rem;
        color: #00000073;
      }
    }
  }
}
.purchase-step {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  &::before {
    content: '';
    width: calc(100% - 3rem);
    height: 1px;
    position: absolute;
    bottom: 4px;
    left: 1.5rem;
    background: #707070;
  }
  &::after {
    content: '';
    width: calc(25% - 2rem);
    height: 3px;
    position: absolute;
    bottom: 4px;
    left: 1.5rem;
    background: $primary-color;
  }
  &-item {
    a {
      @include font-size(1.4, 1.9);
      color: #707070;
      padding-bottom: 2rem;
      display: block;
      position: relative;
      &::before {
        content: '';
        display: inline-block;
        @include box(1rem);
        border-radius: 50%;
        background: #707070;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &.active a {
      color: #d29e10;
      font-weight: 600;
      &::before {
        background: #d29e10;
      }
    }
  }
}
.modal-open .modal {
  padding: 0 !important;
  background: rgb(43 43 43 / 70%);
  .modal-body {
    padding: 0;
  }
  .modal-dialog {
    top: 50%;
    transform: translateY(-50%);
  }
}
