.home {
  padding: 8rem 9.8rem;
  &-list {
    display: flex;
  }

  &-right {
    &-img {
      width: 100%;
      max-height: 100%;
      padding-left: 3rem;
      display: block;
      object-fit: cover;
      border-radius: 0.6rem;
    }
  }

  &-inner {
    padding: 8rem 9.8rem;
    &-text__bottom {
      padding-top: 2.1rem;
    }
    &__btn {
      margin-top: 3rem;
      width: 25rem;
      height: 4.4rem;
      background-color: #f2b94c;
      outline: none;
      border: none;
      border-radius: 6px;
      font-weight: 600;
      font-size: 1.6rem;
    }
  }

  &-line {
    width: 170px;
    color: yellow;
    display: none;
  }

  &-inner__title {
    font-size: 3rem;
    line-height: 4.1rem;
    color: black;
    font-weight: 600;
    position: relative;
    margin-bottom: 3.1rem;
    &::after {
      content: "";
      width: 17rem;
      height: 0;
      border-top: 0.3rem solid #f2b94c;
      position: absolute;
      bottom: -1rem;
      left: 0;
    }
  }
}

.box2 {
  padding: 8rem 15.2rem;

  &-item {
    padding-top: 3rem;

    &__footer {
      text-align: center;
      font-size: 1.6rem;
      line-height: 2.2rem;
      font-weight: 600;
      color: #000;
      padding-top: 2rem;
     
    }

    &__top {
      margin: 1rem auto 0;
      width: 162px;
      height: 162px;
      border-radius: 50%;
      background-color: #f2b94c;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-title {
    font-size: 3rem;
    line-height: 4.1rem;
    color: black;
    font-weight: 600;
    text-align: center;
    position: relative;
    margin-bottom: 3.1rem;
    &::after{
        content: "";
        width: 17rem;
        height: 0;
        border-top: 0.3rem solid #f2b94c;
        position: absolute;
        bottom: -1rem;
        left:50%;
        transform: translateX(-50%);
    }
  }

  &-img {
    width: 70px;
    height: 70px;
    align-items: center;
  }
}

.login{
  padding: 8rem auto;
  background-color: #FFFFFF;

  &-title{
    font-size: 3rem;
    line-height: 4.1rem;
    text-align: center;
    font-weight: 600;
    color: #000;
    margin-bottom: 3rem;
    position: relative;
    &::after{
      position: absolute;
      content: "";
      width: 17rem;
      height: 0;
      border-top: 0.3rem solid #f2b94c;
      left :0;
      bottom: -1rem;
    }
  }
}
